__pycache__/
build/
dist/
*.egg-info/
.pytest_cache/

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# JetBrains
.idea/

# Terraform
.terraform
