.pdm-python
__pycache__/
build/
dist/
*.egg-info/
.pytest_cache/
.ruff_cache

# macOS
.DS_Store

# pyenv
.python-version

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# JetBrains
.idea/

test-reports/

/coverage.xml
/.coverage
htmlcov/

# Generated end to end test data
my-test-api-client/
custom-e2e/
3-1-features-client