[tool.poetry]
name = "openapi-python-client"
version = "0.2.1"
description = "Generate modern Python clients from OpenAPI"

authors = [
    "Dylan Anthony <danthony@triaxtec.com>",
]

readme = "README.md"
packages = [
    {include = "openapi_python_client"},
]
include = ["CHANGELOG.md", "openapi_python_client/py.typed"]


[tool.poetry.dependencies]
python = "==3.*,>=3.8.0"
jinja2 = "^2.11.1"
stringcase = "^1.2.0"
typer = "^0.1.0"
colorama = {version = "^0.4.3", markers = "sys_platform == 'win32'"}
shellingham = "^1.3.2"
httpx = "^0.12.1"
black = "^19.10b0"
isort = "^4.3.21"
pyyaml = "^5.3.1"

[tool.poetry.scripts]
openapi-python-client = "openapi_python_client.cli:app"

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-mock = "*"
mypy = ">=0.761"
taskipy = "^1.1.3"
safety = "^1.8.5"
pytest-cov = "^2.8.1"
fastapi = "^0.52.0"

[tool.taskipy.tasks]
check = "isort --recursive --apply && black . && safety check && mypy openapi_python_client"

[tool.black]
line-length = 120
target_version = ['py38']
exclude = '''
(
  /(
    | \.git
    | \.venv
    | \.mypy_cache
    | openapi_python_client/templates
  )/
)
'''

[tool.isort]
line_length = 120
multi_line_output = 3

[tool.coverage.run]
omit = ["openapi_python_client/templates/*"]
