[tool.poetry]
name = "openapi-python-client"
# Our versions have diverged and have no relation to upstream code changes
# Henceforth, openapi-python-package will be maintained internally
version = "1.0.1"
description = "Generate modern Python clients from OpenAPI"
repository = "https://github.com/triaxtec/openapi-python-client"
license = "MIT"
keywords=["OpenAPI", "Client", "Generator"]
authors = ["Dylan Anthony <danthony@triaxtec.com>"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Code Generators",
    "Typing :: Typed",
]
readme = "README.md"
packages = [
    {include = "openapi_python_client"},
]
include = ["CHANGELOG.md", "openapi_python_client/py.typed"]

[tool.poetry.dependencies]
python = "^3.7"
jinja2 = "^3.1.0"
stringcase = "^1.2.0"
typer = "^0.3"
colorama = {version = "^0.4.3", markers = "sys_platform == 'win32'"}
shellingham = "^1.3.2"
black = ">=20.8b1"
isort = "^5.0.5"
pyyaml = "^5.3.1"
importlib_metadata = {version = ">=4.4", python = "<3.8"}
pydantic = "^1.6.1"
attrs = ">=20.1.0, <22.0"
python-dateutil = "^2.8.1"
httpx = ">=0.23.0"
autoflake = "^1.4"

[tool.poetry.scripts]
openapi-python-client = "openapi_python_client.cli:app"

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-mock = "*"
mypy = "*"
taskipy = "*"
safety = "*"
pytest-cov = "*"
python-multipart = "*"
flake8 = "*"

[tool.taskipy.tasks]
check = """
isort .\
 && black .\
 && flake8 openapi_python_client\
 && safety check --bare\
 && mypy openapi_python_client\
 && task unit\
"""
code_coverage = "pytest --cov openapi_python_client tests --cov-report=term-missing"
unit = "pytest openapi_python_client tests"
regen = "python -m end_to_end_tests.regen_golden_record"
regen_custom = "python -m end_to_end_tests.regen_golden_record custom"
e2e = "pytest openapi_python_client end_to_end_tests/test_end_to_end.py"
re = """
task regen\
&& task regen_custom\
&& task e2e\
"""
gen-setuppy = """
poetry build \
&& tar --strip-components=1 -xvf "$(ls -1 dist/*tar.gz | tail -1)" '*/setup.py' \
&& isort setup.py \
&& black setup.py \
&& sed -i '' 's/"openapi-python-client"/"benchling-openapi-python-client"/' setup.py
"""

[tool.black]
line-length = 120
target_version = ['py36', 'py37', 'py38']
exclude = '''
(
  /(
    | \.git
    | \.venv
    | \.mypy_cache
    | openapi_python_client/templates
    | tests/test_templates
    | end_to_end_tests/test_custom_templates
    | end_to_end_tests/golden-record-custom
  )/
)
'''

[tool.isort]
line_length = 120
profile = "black"
skip = [".venv", "tests/test_templates"]

[tool.coverage.run]
omit = ["openapi_python_client/templates/*"]

[build-system]
requires = [
    "setuptools>=30.3.0,<50",
    "poetry>=1.0"
]
build-backend = "poetry.masonry.api"
