{% macro construct(property, source, initial_value="None") %}
{{ property.python_name }} = {{ source }}
{% endmacro %}

{% macro transform(property, source, destination, declare_type=True, stringify=False) %}
{{ destination }} = {{ source }}
{% endmacro %}
