{% macro transform_header(source) %}
"true" if {{ source }} else "false"
{% endmacro %}

{% macro multipart(property, source, destination) %}
field_list.append(({{ destination }}, (None, str({{source}}).encode(), "text/plain")))
{% endmacro %}
