{% macro transform_header(source) %}
str({{ source }})
{% endmacro %}

{% macro multipart(property, source, destination) %}
field_list.append(({{ destination }}, (None, str({{source}}).encode(), "text/plain")))
{% endmacro %}
