""" Contains methods for accessing the API """

from typing import Type
{% for tag, collection in endpoint_collections_by_tag %}
from {{ package_name }}.api.{{ tag }} import {{ utils.pascal_case(tag) }}Endpoints
{% endfor %}

class {{ utils.pascal_case(package_name) }}Api:
{% for tag, collection in endpoint_collections_by_tag %}
    @classmethod
    def {{ tag }}(cls) -> Type[{{ utils.pascal_case(tag) }}Endpoints]:
        return {{ utils.pascal_case(tag) }}Endpoints
{% endfor %}
