""" Contains methods for accessing the API Endpoints """

import types
{% for endpoint in endpoints %}
from {{ package_name }}.api.{{ tag }} import {{ utils.snake_case(endpoint.name) }}
{% endfor %}

class {{ utils.pascal_case(tag) }}Endpoints:

{% for endpoint in endpoints %}

    @classmethod
    def {{ utils.snake_case(endpoint.name) }}(cls) -> types.ModuleType:
        {% if endpoint.description %}
        """
            {{ endpoint.description }}
        """
        {% elif endpoint.summary %}
        """
            {{ endpoint.summary  }}
        """
        {% endif %}
        return {{ utils.snake_case(endpoint.name) }}
{% endfor %}
