[tool.poetry]
name = "integration-tests"
version = "0.0.1"
description = "A client library for accessing OpenAPI Test Server"
authors = []
readme = "README.md"
packages = [
    {include = "integration_tests"},
]
include = ["CHANGELOG.md", "open_api_test_server_client/py.typed"]

[tool.poetry.dependencies]
python = "^3.7"
httpx = ">=0.15.4,<0.22.1"
attrs = ">=21.3.0"
python-dateutil = "^2.8.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"

[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"

[tool.black]
line-length = 120
target_version = ['py37', 'py38', 'py39']
exclude = '''
(
  /(
    | \.git
    | \.venv
    | \.mypy_cache
  )/
)
'''

[tool.isort]
line_length = 120
profile = "black"