""" Contains shared errors types that can be raised from API functions """

class UnexpectedStatus(Exception):
    """ Raised by api functions when the response status an undocumented status and Client.raise_on_unexpected_status is True """
    ...


class FailedStatus(Exception):
    """ Raised by api functions when the response status is a failed status and Client.raise_on_failed_status is True """
    error: object = None


__all__ = ["UnexpectedStatus", "FailedStatus"]
