from enum import IntEnum
from typing import Union

class {{ enum.class_info.name }}(IntEnum):
    {% for key, value in enum.values.items() %}
    {{ key }} = {{ value }}
    {% endfor %}

    def __str__(self) -> str:
        return str(self.value)

    @classmethod
    def from_val(cls, value: Union[int, str, "{{enum.class_info.name}}"]) -> "{{ enum.class_info.name }}":
        if isinstance(value, {{ enum.class_info.name }}):
            return value

        if isinstance(value, str):
            value = value.lower()
            for key in cls.__members__.keys():
                if key.lower() == value:
                    return cls[key]

            # try to convert value to int
            try:
                value = int(value)
            except ValueError:
                pass

        return cls(value)
