from typing import Literal

{{ enum.class_info.name }} = Literal{{ "%r" | format(enum.values|list|sort) }}

{{ enum.get_values_constant_name() }} = { {% for v in enum.values|list|sort %}{{"%r"|format(v)}}, {% endfor %} }
