from typing import Literal

{{ enum.class_info.name }} = Literal[
    {% for value in enum.values|list|sort(case_sensitive=true) %}
      {% if value is string %}
        "{{ value }}",
      {% else %}
        {{ value }},
      {% endif %}
    {% endfor %}
]
