{% from "helpers.jinja" import safe_docstring %}

{{ safe_docstring(package_description) }}
from .wrapper import Sync{{ openapi.title | pascalcase }}Client, {{ openapi.title | pascalcase }}Client

__all__ = (
    "Sync{{ openapi.title | pascalcase }}Client",
    "{{ openapi.title | pascalcase }}Client"
)
