[project]
name = "{{ project_name }}"
version = "{{ package_version }}"
description = "{{ package_description }}"
authors = []
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    {% if config.httpx_version > 1 %}
    "httpx2>=2.5.0",
    {% else %}
    "httpx>=0.23.1,<0.29.0",
    {% endif %}
    "attrs>=22.2.0",
]

[tool.pdm]
distribution = true

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"
