{% set poetry = meta == "poetry" %}
{% set pdm = meta == "pdm" %}
{% if poetry %}
{% include "pyproject_poetry.toml.jinja" %}
{% elif pdm %}
{% include "pyproject_pdm.toml.jinja" %}
{% endif %}

{% include "pyproject_ruff.toml.jinja" %}
