[project]
name = "{{ project_name }}"
version = "{{ package_version }}"
description = "{{ package_description }}"
authors = []
requires-python = ">=3.11"
readme = "README.md"
dependencies = [
    {% if config.httpx_version > 1 %}
    "httpx2>=2.5.0",
    {% else %}
    "httpx>=0.23.1,<0.29.0",
    {% endif %}
    "attrs>=22.2.0",
]

[tool.uv.build-backend]
module-name = "{{ package_name }}"
module-root = ""

[build-system]
requires = ["uv_build>=0.11.0,<0.12.0"]
build-backend = "uv_build"
