[tool.poetry]
name = "{{ project_name }}"
version = "{{ package_version }}"
description = "{{ package_description }}"
authors = []
readme = "README.md"
packages = [
    { include = "{{ package_name }}" },
]
include = ["{{ package_name }}/py.typed"]

[tool.poetry.dependencies]
python = "^3.11"
{% if config.httpx_version > 1 %}
httpx2 = ">=2.5.0"
{% else %}
httpx = ">=0.23.1,<0.29.0"
{% endif %}
attrs = ">=22.2.0"

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"
