from base64 import b64encode

from typing import Literal, TypedDict, Dict, Any, Tuple, Protocol

from dlt.common.configuration.specs.base_configuration import BaseConfiguration, configspec


class CredentialsHttpParams(TypedDict):
    cookies: Dict[str, str]
    params: Dict[str, str]
    headers: Dict[str, str]


class APICredentials(Protocol):
    def to_http_params(self) -> CredentialsHttpParams:
        pass


@configspec
class _ApiKeyCredentialsBase(BaseConfiguration):
    type: Literal["apiKey"] = "apiKey"
    location: Literal["header", "cookie", "param"]  # Alias for scheme "in" field
    name: str
    api_key: str

    def to_http_params(self) -> CredentialsHttpParams:
        result: CredentialsHttpParams = dict(cookies={}, headers={}, params={})
        result[self.location + "s"][self.name] = self.api_key  # type: ignore
        return result

    def parse_native_representation(self, native_value: str) -> None:
        if not isinstance(native_value, str):
            raise ValueError("Api Key value must be a string")
        self.api_key = native_value


@configspec
class _HttpBasicCredentialsBase(BaseConfiguration):
    type: Literal["http"] = "http"
    scheme: Literal["basic"] = "basic"
    username: str
    password: str

    def to_http_params(self) -> CredentialsHttpParams:
        encoded = b64encode(f"{self.username}:{self.password}".encode()).decode()
        return dict(cookies={}, headers={"Authorization": "Basic " + encoded}, params={})

    def parse_native_representation(self, native_value: Tuple[str, str]) -> None:
        username, password = native_value
        if not isinstance(username, str) or not isinstance(password, str):
            raise ValueError("Value must be a tuple of ('username', 'password')")
        self.username, self.password = username, password


@configspec
class _HttpBearerCredentialsBase(BaseConfiguration):
    type: Literal["http"] = "http"
    scheme: Literal["bearer"] = "bearer"
    token: str

    def to_http_params(self) -> CredentialsHttpParams:
        return dict(cookies={}, headers={"Authorization": "Bearer " + self.token}, params={})

    def parse_native_representation(self, native_value: str) -> None:
        if not isinstance(native_value, str):
            raise ValueError("Http bearer value must be a string")
        self.token = native_value


@configspec
class _OAuth2CredentialsBase(BaseConfiguration):
    # TODO: Separate class for flows (implcit, authorization_code, client_credentials, etc)
    type: Literal["oauth2"] = "oauth2"
    access_token: str

    def to_http_params(self) -> CredentialsHttpParams:
        return dict(cookies={}, headers={"Authorization": "Bearer " + self.access_token}, params={})

    def parse_native_representation(self, native_value: str) -> None:
        if not isinstance(native_value, str):
            raise ValueError("OAuth2 access token value must be a string")
        self.access_token = native_value
