from typing import Literal

from dlt.common.configuration.specs.base_configuration import BaseConfiguration, configspec

from ._base import _ApiKeyCredentialsBase, _HttpBasicCredentialsBase, _HttpBearerCredentialsBase, _OAuth2CredentialsBase


{% if scheme.data.type == "apiKey" %}
class {{ scheme.class_info.name }}(_ApiKeyCredentialsBase):
    location: Literal["{{ scheme.data.security_scheme_in }}"] = "{{ scheme.data.security_scheme_in }}"
    name: Literal["{{ scheme.name }}"] = "{{ scheme.name }}"
    
{% elif scheme.data.type == "http" and scheme.data.scheme == "basic" %}
class {{ scheme.class_info.name }}(_HttpBasicCredentialsBase):
    pass
{% elif scheme.data.type == "http" and scheme.data.scheme == "bearer" %}
class {{ scheme.class_info.name }}(_HttpBearerCredentialsBase):
    pass
{% elif scheme.data.type == "oauth2" %}
class {{ scheme.class_info.name }}(_OAuth2CredentialsBase):
    pass
{% endif %}


__all__ = ["{{ scheme.class_info.name }}"]
