name: Release

on:
  pull_request:
    types: [closed]
    branches: [main]

jobs:
  release:
    if: github.head_ref == 'knope/release' && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v5.0.0
      - name: Install Hatchling
        run: pip install --upgrade hatchling
      - name: Build
        run: hatchling build
      - name: Push to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
            attestations: true
