name: Release Dry Run

on:
  pull_request:
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Knope
        uses: knope-dev/action@v2.0.0
        with:
          version: 0.16.1
      - run: knope prepare-release --dry-run
