name: Release

on:
  pull_request:
    types: [closed]
    branches: [main]

jobs:
  release:
    if: github.head_ref == 'release' && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT }}
      - name: Install Knope
        uses: knope-dev/action@v2.0.0
        with:
          version: 0.16.1
      - name: Install Hatchling
        run: pip install --upgrade hatchling
      - name: Build
        run: hatchling build
      - name: Push to PyPI
        uses: pypa/gh-action-pypi-publish@v1.8.14
      - name: Create GitHub Release
        run: knope release
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
